# Copiar a dev.tfvars y actualizar valores (no commitear).
# cp dev.tfvars.example dev.tfvars

aws_region  = "us-east-2"
aws_profile = "your-sso-profile"

project_name = "distrinorte"
environment  = "dev"

vpc_cidr = "10.0.0.0/16"

azs = ["us-east-2a", "us-east-2b", "us-east-2c"]

public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
private_subnet_cidrs = ["10.0.10.0/24", "10.0.11.0/24", "10.0.12.0/24"]
data_subnet_cidrs    = ["10.0.20.0/24", "10.0.21.0/24", "10.0.22.0/24"]

enable_nat_gateway   = true
single_nat_gateway   = true
enable_vpc_endpoints = true

s3_force_destroy           = true
s3_enable_versioning       = true
s3_backups_noncurrent_days = 90

tags = {
  ManagedBy = "terraform"
  Project   = "distrinorte"
  Team      = "distrinorte-iac"
}
