# Copiar a staging.tfvars y actualizar valores (no commitear).
# cp staging.tfvars.example staging.tfvars

aws_region  = "us-east-2"
aws_profile = "your-sso-profile"

project_name = "distrinorte"
environment  = "staging"

vpc_cidr = "10.1.0.0/16"

azs = ["us-east-2a", "us-east-2b", "us-east-2c"]

public_subnet_cidrs  = ["10.1.1.0/24", "10.1.2.0/24", "10.1.3.0/24"]
private_subnet_cidrs = ["10.1.10.0/24", "10.1.11.0/24", "10.1.12.0/24"]
data_subnet_cidrs    = ["10.1.20.0/24", "10.1.21.0/24", "10.1.22.0/24"]

enable_nat_gateway   = true
single_nat_gateway   = false
enable_vpc_endpoints = true

tags = {
  ManagedBy = "terraform"
  Project   = "distrinorte"
  Team      = "distrinorte-iac"
}
